* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
     font-family: Montserrat;	
=======

>>>>>>> a2b00f0d1ac1bdf6e53fb6493c8e26ff9aeb3f27
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.about{
    width: 100%;
    height: 600px;
    background-image: url(../../img/about_us.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text{
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
    text-shadow: 0px 15px 12px #000;

}
.line{
    width: 200px;
    height: 8px;
    background-color: #17ff8d;
    display: block;
    position: relative;
    border-radius: 5px;
    left: 10%;
    box-shadow: 0px 15px 12px 0px #000;

}

.content{
    padding-top: 8%;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    font-size: 23px;
    font-family: audiowide;
    color: #333;
    line-height: 50px;
    text-align: center;
}