<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');


* {
 font-family: Montserrat;
}

body {
	
	background-image: url(../../img/form4.jpg) ;
	background-size: cover;
	
}


.container {
	margin-top: 10%;
	margin-bottom: 8%;
	margin-left: 35%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	border-radius: 15px 15px 0px 0px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 600px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: rgba(0,0,0,0.3);
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
	text-align: center;
}

.form {
	padding: 30px 20px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;

}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #44ad67;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.form button:hover{
	background: #30332E;
}
.links{
	background-color: #44ad67;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.links:hover{
	background: #30332E;
}
.links a{
	color: #fff;
	margin-left: 36%;
	text-decoration: none;
	

}
.radio{
	
	position: relative;
	padding-left: 10%;
	top: 19px;
	left: 60px;
	font-size: 15px;
	color: #fffdfd;
	
}
.radio input{

	height: 20px;
    border-radius: 30%;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
}

=======
*{
    margin: 0;
    padding: 0;

}
body{
   
    background-image: url(../../img/form4.jpg) ;
    background-size: cover;
    background-position: center;
    height: 920px;
    
}
.regform{
    margin-top: 10%;
    margin-left: 32%;
    width: 700px;
    background-color: rgba(0,0,0,0.8);
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;

}

h3{
    margin-top: 2%;
    height:50px;
    widows: 700px;
    padding:15px;
    box-sizing: border-box;
    background: rgba(231, 62, 62, 0.6);
    color:white;
    font-size:15px;
    text-align: center;
    margin-bottom: 20px;
} 

.main{
    background-color: rgba(0,0,0,0.5);
    width: 700px;
    margin-left: 32%;
    margin-bottom: 10%;
    
}
form{
    padding: 10px;
}
.name,#gender{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;

}

.nameu{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}

.nameuser{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.password{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.repassword{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.userid{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.address{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.nic{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.dob{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}



.email{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.pnumb{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.radio{
    display: inline-block;
    padding-right: 70px;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 15px;
    color: #FFFFFF;
}
.radio input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.button1 button{
    background-color: #022c14d3;
    display: block;
    margin-top: 20px;
    margin-left: 200px;
    /*margin: 20px 20px 0px 20px;*/
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding: 14px 110px;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.25x;
    text-decoration: none;
  
    
    

}

.button1 button:hover{
    background-color: #30332E ;
}


>>>>>>> a2b00f0d1ac1bdf6e53fb6493c8e26ff9aeb3f27
