

body{
    
    height: 100%;
    background: rgb(76, 233, 186);
    background: -moz-linear-gradient(90deg, rgb(124, 240, 139) 0%, rgb(57, 235, 66) 100%);
    background: -webkit-linear-gradient(98deg, rgb(97, 238, 167) 0%, rgb(26, 226, 110) 100%);
    background: linear-gradient(98deg, rgb(101, 236, 124) 0%, rgb(74, 233, 185) 100%);

}

.new{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color: rgb(11, 59, 51);
}
.header h1{
    color: white;
    padding: 15px;
}
.body{
    flex: 1;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 20px 30px;
}
.message{
    background-color:rgb(53, 209, 123);
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;

}

.user_message{
    margin-left: auto;
    background-color: white;
    color: black;
}
.foot form{
    display: flex;
    margin-top: 400px;


}
form input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 45px;
    font-size: 16px;
  

}
form button{
   
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(6, 97, 67);
    color: white;
    cursor: pointer;
    margin-left: 15px;

}
form button a{
    color: white;
    text-decoration: none;
}

form button:hover{
    background-color: rgb(24, 202, 149);
    transition: 0.2s ease;
}