
*{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
     font-family: Montserrat;
=======
   
>>>>>>> a2b00f0d1ac1bdf6e53fb6493c8e26ff9aeb3f27
    
}
body{
    background: url(../../img/customer_manage.jpg);
    width: 100%;
}
.wrapper{
    box-sizing: border-box;
    width: 1170px;
   
}

section{
  
    padding: 0 50px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 
}

.box1{
   
    position: absolute;
    margin-left:30% ;
    width: 500px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.082);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    text-align: center;
    float: right;
    
}
.box1 h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 35px;
    text-transform: uppercase;
    color: #044463;
}

.box1 p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #044463;


}
.box1:hover{
    background-color: rgb(229, 243, 229);
    border-color: rgb(207, 186, 186);
    transition: .5s;
    transform: translateY(-5px);
    box-shadow: 0 20px 50px 0 rbga(0,0,0,12);
}

.box1 a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 15px;
    border: 1px solid #333;
}
.box1 a:hover{
    background: #333;
    color:#fff;
}