<<<<<<< HEAD


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.banner-area{
   
=======
*{
    margin: 0;
    padding: 0;
    
}



.banner-area{
>>>>>>> a2b00f0d1ac1bdf6e53fb6493c8e26ff9aeb3f27
    width: 100%;
    height: 600px;
    position: relative;
    top: 0;
    background-position: center center;
    overflow: hidden;

}

.container1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 25s ease-in-out infinite;
    background-size: cover;
}

.outer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
<<<<<<< HEAD
    background: rgba(0,0,0,0.3);
=======
    background: rgba(0,0,0,0.5);
>>>>>>> a2b00f0d1ac1bdf6e53fb6493c8e26ff9aeb3f27
}

.details{
    position: absolute;
    left: 50%;
<<<<<<< HEAD
    top: 28%;
=======
    top: 20%;
>>>>>>> a2b00f0d1ac1bdf6e53fb6493c8e26ff9aeb3f27
    transform: translate(-50%, -50%);
    text-align: center;
}

.details h1{
    margin-top: 25%;
    font-size: 70px;
    color: rgb(238, 195, 195);

}

.details h1 .username{
    margin-top: 25%;
    font-size: 70px;
    color: rgb(149, 238, 179);

}

.details h2{
<<<<<<< HEAD
   
=======
>>>>>>> a2b00f0d1ac1bdf6e53fb6493c8e26ff9aeb3f27
    font-size: 30px;
    margin-top: 15%;
    color:rgb(243, 247, 245);
    text-transform: capitalize;
    line-height: 2em;

}
@keyframes animate{
    0%,100%{
        background-image: url(../../img/staff5.jpg);
    }
    25%{
        background-image: url(../../img/staff7.jpg);
    }
    50%{
        background-image: url(../../img/staff3.jpg);
    }
    75%{
        background-image: url(../../img/staff8.jpg);
    }
}

.content-area{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(210, 230, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
   

}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    margin-bottom: 10%;
    margin-top: 10%;
  

}
.container .card{
    position: relative;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px;
   

}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: rgb(245, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);

}
.container .card:hover .face.face1{
    background: #1cdb5c;
    transform: translateY(0);
}
.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
    text-align: center;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}


.container .card .face.face1 img{
    width: 90px;
    
}
.container .card:hover .face.face1 .content h3{
<<<<<<< HEAD
    
=======
>>>>>>> a2b00f0d1ac1bdf6e53fb6493c8e26ff9aeb3f27
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
}



.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8) ;
    transform: translateY(-100px);


}
.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
<<<<<<< HEAD
   
=======
>>>>>>> a2b00f0d1ac1bdf6e53fb6493c8e26ff9aeb3f27
    margin: 0;
    padding: 0;

}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color:#fff;
}
