*{
    margin: 0;
    padding: 0;
    outline: 0;
  

}

body{
    
    height: 100%;
    background: rgb(76, 233, 186);
    background: -moz-linear-gradient(90deg, rgb(124, 240, 139) 0%, rgb(57, 235, 66) 100%);
    background: -webkit-linear-gradient(98deg, rgb(97, 238, 167) 0%, rgb(26, 226, 110) 100%);
    background: linear-gradient(98deg, rgb(101, 236, 124) 0%, rgb(74, 233, 185) 100%);

}

table tr th{
    background-color: aquamarine;
}