
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: absolute;

}
.logo{
    width: 20%;
    float: left;
    line-height: 100px;
}

nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family:  bignoodletitling ;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;

}


section{
    
    padding: 0 50px;
    background: url(../img/working.jpg);
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-size: cover;
   
}
.box{
    margin-top: 60px;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    width: 500px;
    padding: 25px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    text-align: center;
    
}
.box h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: #044463;
}

.box p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #044463;


}
.box:hover{
    background-color: rgb(229, 243, 229);
    border-color: rgb(207, 186, 186);
    transition: .5s;
    transform: translateY(-5px);
    box-shadow: 0 20px 50px 0 rbga(0,0,0,12);
}

.box a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 15px;
    border: 1px solid #333;
}
.box a:hover{
    background: #333;
    color:#fff;
}