*{
    font-family: montserrat;
}
#container{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%);  
    width:auto;
    height:auto;
    padding-bottom: 2cm;
}

#topAd{
    height: 2cm;
    width: auto;
    background-color: cornsilk;
    margin-bottom: 2em;
}
#rightAd{
    width: 5cm;
    height: 8cm;
    background-color: cornsilk;
    float: right;
    margin-right:2em;
    margin-left:2em;
    margin-top: 4em;
    justify-content: center;
    font-size: small;
    text-align: center;
}
#AdImg{
    width:5cm;
    height:7.5cm;
}

#leftAd{
    width: 5cm;
    height: 8cm;
    background-color: cornsilk;
    float: left;
    margin-left:2em;
    margin-right:2em;
    margin-top: 4em;
    justify-content: center;
    font-size: small;
    text-align: center;

}

#allPackages{
    margin-right: auto;
    margin-left: auto;
    height: 10cm;
    width: 19cm;
    background-color: rgba(255,255,255,0.3);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    

}

.package{
    float: left;
    width: 5cm;
    height: 8cm;
    background-color: rgba(170,170,170,0.5);
    border-bottom: 10px solid rgba(169,169,169,0.8);
    border-top: 10px solid rgba(169,169,169,0.8);
    border-radius: 10px;
    margin: 1em;
    text-align: center;

}

.package:hover{
    background-color: rgba(18, 247, 87, 0.5);
    transform:scale(1.05);
    transition: 1s;
}

.priceBlock{
    width:3cm;
    height: 3cm;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50px;
    display: inline-flex;
    float:left;
    justify-content: center;
    align-items: center;
    margin:1cm;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}


    
    
