body
{
    margin: 0;
    padding: 0;
    background-color: black;

}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.button
{
    position: absolute;
    text-align: center;
    width: 250px;
    padding: 40px;
    font-size: 35px;
    color: #39B54A;
    border: 5px solid #39B54A;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.3s;

}
.button:hover
{
    box-shadow: 0 5px 50px 0 #39B54A inset, 0 5px 50px 0 #39B54A,
                0 5px 50px 0 #39B54A inset, 0 5px 50px 0 #39B54A;
    
  
               
    text-shadow: 0 0 5px #39B54A  ;            
}