

@import url(https://fonts.googleapis.com/css?family=Montserrat);

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 90px;
text-align: center;
vertical-align: middle;
font-size:20px;
font-family: Montserrat;
}


.main-menu:hover,nav.main-menu.expanded {
width:260px;
overflow:visible;
}

.main-menu {
background:#43CC58;
border-right:1px solid #e5e5e5;
position:absolute;
top:10px;
bottom:0;
height:90%;
left:0;
width:70px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:260px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
color: #1F1F1F;
text-decoration: none;
font-weight: bold;
list-style: none;
font-size: 2vh;
transition: all 0.2s ease-out;

  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:100%;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

.sidebar-image {
	width: 50px;
  padding-left: 8px;
  margin-top: 40%;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

