body {
  font-family: 'Open Sans', sans-serif;
}

.card {
  width: 300px;                 /* Set width of cards */
  height: 200px;
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
  border: 2px solid #3AC449;    /* Set up Border */
  border-radius: 10px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 5px;                  /* Add space between cards */
}

.card-header {
  color: #0A6815;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 1px solid #27E73C;
  background-color: #80FA8D;
  padding: 22px 10px;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (on cross axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
}


.main-description {
  color: #069516;
  font-size: 20px;
  text-align: center;
}

.header-large {
  margin: 20% 2em 0;
  text-align: right;
}

.header-medium {
  margin: 10% 2em 0;
  text-align: left;
}

.header-small {
  margin: 25px 0em 0;
  text-align: left;
  font-size: 25px;
}