*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background-image: linear-gradient(120deg, #39B54A, #C5EFCB);
}

.header {
    padding: 0px 50px;
    background: rgba(251, 251, 251, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginform{
    width: 360px;
    background: #FBFBFB;
    height: 500px;
    padding: 60px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginform h1{
    text-align: center;
    margin-bottom: 30px;
}

.textbox{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.textbox input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.textbox span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.textbox span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg, #39B54A, #C5EFCB);
    left: 0;
    bottom: -2px;
    transition: .5s;
}

.focus + span::before{
    top: -5px;
    font-size: 11px;
}
.focus + span::after{
    width: 100%;
}

.loginbutton{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #39B54A, #C5EFCB);
    background-size: 200%;
    color: #0e0e0e;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.loginbutton:hover{
    background-position: right;
}

.bottomtext{
    margin-top: 60px;
    text-align: center;
    font-size: 12px;
}

.bottomtext a{
    color: #24722E;
}

.bottomtext a:hover{
    color: #43CC58 ;
}
