*{
    margin: 0;
    padding: 0;
    outline: 0;
     font-family: Montserrat;
 
}

body{
    
    height: 100%;
    background: rgb(76, 233, 186);
    background: -moz-linear-gradient(90deg, rgb(124, 240, 139) 0%, rgb(57, 235, 66) 100%);
    background: -webkit-linear-gradient(98deg, rgb(97, 238, 167) 0%, rgb(26, 226, 110) 100%);
    background: linear-gradient(98deg, rgb(101, 236, 124) 0%, rgb(74, 233, 185) 100%);

}


table{
    position: relative;
    z-index: 2;
    margin-top: 15%;
    margin-left: 22%;
    margin-bottom: 15%;
    align-items: center;
    width: 60%;
    height: 100px; 
   border-collapse: collapse;
   border-spacing: 0;
   border-radius: 12px 12px 0 0;
   overflow: hidden;
   box-shadow: 0 2px 12px rgba(52,32,32,.3);
    background: white;
    text-align: center;
    
}


th,td{
    padding: 10px 15px;
}

th{
    background: #077431;
    color: white;
    text-transform: uppercase;


}