

.admin-wrapper
{
    display: flex;
    font-family: 'Roboto', sans-serif;
    background: white;
    
}
.left-sidebar *
{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
     text-decoration: none;
     
    
}

.admin-wrapper .left-sidebar
{
    background: #042331;
    flex: 2;
    height: 100%;
    position: absolute;
    left: -350px;
    width: 300px;
    transition: all .4s ease;
    z-index: 500;
    overflow: hidden;
    height: 800px;
}
.admin-wrapper .left-sidebar p
{
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 80px;
    background: #063146;
    user-select: none;
    box-sizing: border-box;
}
.admin-wrapper .left-sidebar ul a
{
    display: block;
    color: white;

    width: 100%;
    line-height: 80px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,1);
    border-bottom: 1px solid black ;

}

.admin-wrapper .left-sidebar ul li:hover a 
{
    padding-left: 50px;
    background: #006669;
}
.admin-wrapper .left-sidebar ul a i
{
    margin-right: 16px;

}



.admin-wrapper .admin-content
{
    flex: 8;
    height: 726px;;
    
}


#check
{
    display: none;
}
label #btn,label #cancel
{
position: absolute;
cursor:pointer;
background: #042331;
border-radius: 3px;

}
label #btn
{
    left: 40px;
    top: 80px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
    transition: all .3s;

}
label #cancel
{
    z-index: 1111;
    left: -218px;
    top: 40px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .4s ease;

}
#check:checked ~ .admin-wrapper .left-sidebar
{
    left: 0;
}

#check:checked ~ label #btn
{
    left: 250px;
    opacity: 0;
    pointer-events: none;
    

}
#check:checked ~ label #cancel
{
    top: 80px;
    left: 250px;
}
