*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
    padding-bottom: 2cm;
    padding-top: 3cm;
}

#rightAd{
    width: 5cm;
    height: 8cm;
    background-color: cornsilk;
    float: right;
    margin-right:2em;
    margin-left:2em;
    margin-top: 4em;
    text-align: center;
    font-size: small;

}
#AdImg{
    width:5cm;
    height:7.5cm;
}

#leftAd{
    width: 5cm;
    height: 8cm;
    background-color: cornsilk;
    float: left;
    margin-left:2em;
    margin-right:2em;
    margin-top: 4em;
    text-align: center;
    font-size: small;

}

#pgeHeading{
    height:1cm;
    width:18cm;
    margin-left: auto;
    margin-right: auto;
    color:grey;
    padding: 1em;
    padding-left: 2em;
    background-color:  rgb(229,242,226,0.8);
    border-top: 15px solid rgb(182, 175, 175,0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

#formCont{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1cm;
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color:  rgb(229,242,226,0.8);
    height:15cm;
    width: 18cm;
    display: flex;
   
}

.block{
    height:11cm;
    width:8cm;
    padding: 1em;
    margin-top: 1cm;
    margin-bottom: 1cm;
    float:inline-start;

}

#rightBlock{
    margin-left:1em;
    margin-right: 1em;
    border-right: 5px solid rgba(116, 241, 32, 0.2);
    
}
#leftBlock{
    margin-right: 1em;
    margin-left:1em;
    
    
}

#previewImg{
    height:300px;
    width:200px;
}

#submitBtn{
    height: 1cm;
    width: 3cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;
    
    
       
}
#submitBtn:hover{
    transform:scale(1.15);
    color: white;
    cursor: pointer;
    
}
#btnBlock{
    width: 16cm;
    height: 4cm;
    text-align: center;
    padding-bottom: 1cm;
    
}