*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
<<<<<<< HEAD:app/view/assets/css/advert/AdvertEditProfile.css
    padding-bottom: 2cm;  
=======
    padding-bottom: 2cm;
    padding-top: 1cm;
>>>>>>> f26d0c64dac57351f6f6fa066722ee3a2dcf2529:app/view/assets/css/AdvertSignup.css
}
#content{
    position: relative;
    width: 100%;
    height:17cm;
}
#pgeHeading{
    height: 2cm;
    left: 25%;
    right: 25%;
    width:50%;
    position: relative;
    color:rgb(21, 100, 5);
    padding-bottom: .5em;
    
}

#leftBlock{
    width:25%;
    left: 50%;
    right: 25%;
    height:16cm;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1cm;
    border-top: 15px solid rgb(182, 175, 175,0.5);
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
}
#rightBlock{
    width:25%;
    left:25%;
    right: 50%;
    height:16cm;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1cm;
    border-top: 15px solid rgb(182, 175, 175,0.5);
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
}
#allImg{
    width: auto;
    height:220px;
    position: relative;
    
}

#profileimg{
<<<<<<< HEAD:app/view/assets/css/advert/AdvertEditProfile.css
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 235, 205, 0.397);
    position:absolute;
   
}
#previewImg{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    position:absolute;
=======
    width: 200px;
    height: 200px;
    border:2px;
    background-color: rgba(255, 235, 205, 0.4);
>>>>>>> f26d0c64dac57351f6f6fa066722ee3a2dcf2529:app/view/assets/css/AdvertSignup.css
   
}

#signupBlock{
    right: 25%;
    left: 25%;
    width: 50%;
    height: 2.5cm;
    position: absolute;
    bottom: 2%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 3em;
}
#signupBtn{
    height: 1.2cm;
    width: 4cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;

}

#signupBtn:hover{
    transform:scale(1.1);
    color: white;
    cursor: pointer;
}

#orgAddress{
    height:2cm;
}

.txtField{
    width:7cm;
    height: .7cm;
<<<<<<< HEAD:app/view/assets/css/advert/AdvertEditProfile.css
}

=======
    background-color: rgba(255, 255, 255, .5);
    border: rgba(255, 255, 255, 0);
    border-left: 4px solid #4b8d00;
    color:#4b8d00;
    padding-left: 1em;
}
>>>>>>> f26d0c64dac57351f6f6fa066722ee3a2dcf2529:app/view/assets/css/AdvertSignup.css
