*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
    padding-bottom: 2cm;
    margin-top: 1.5cm;
}

#heading{
    margin-top: 2%;
    width: auto;
    height:1cm;
    color:rgb(64, 94, 23);
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.8) 0 -4px 30px;
    padding:1em;
   
}


#formCont{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1cm;
    margin-top: 6%;
    border-top: 15px solid rgb(182, 175, 175,0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
    border-radius: 20px;
    background-color:  rgb(229,242,226,0.8);
    height:15cm;
    width: 24cm;
    display: flex;
    position: relative;
   
}

.block{
    height:11cm;
    
    padding: 1em;
    margin-top: 1cm;
    margin-bottom: 1cm;
    float:inline-start;

}

#rightBlock{
    width:13cm;
    margin-left:1em;
    margin-right: 1em;
    /* border-right: 5px solid rgba(116, 241, 32, 0.2); */
    
}
#leftBlock{
    width:11cm;
    margin-right: 1em;
    margin-left:1em;    
}

#previewImg{
    height:300px;
    width:200px;
}

#submitBtn{
    height: 1cm;
    width: 3cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;
    
    
       
}
#submitBtn:hover{
    transform:scale(1.15);
    color: white;
    cursor: pointer;
    
}
#btnBlock{
    width: 24cm;
    height: 2cm;
    text-align: center;
    padding-bottom: 1cm;
    position:absolute;
    bottom: 0;
    
}