.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
  }
  
  #closeBtn{
    margin:auto;
    width:200px;
     height:25px; 
     margin-top:15%;
  }
  #imgBlock{
    margin:auto;
    width:200px;
    height:300px;
        
  }
  
  .close {
    color:red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #adimg{
    width:200px;
    height: 300px;
  }