@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
 
}

footer{
  z-index: 1000;
  position: relative;
  color: #fbfbfb;
  bottom: 0px;
  width: 100%;
  background: #0e0e0e;
  font-family: 'Poppins';
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
 .box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fbfbfb;
  margin: 0;
}
 .box .content1{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content1:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
  margin-left: 0;
}
 .box .content1:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #39B54A;
  top: -10px;
  margin-left: 0;
 
}
.left .content1 p{
  text-align: justify;
}
 .left .content1 .social{
  margin: 20px 0 0 0;
}
 .left .content1 .social a{
  padding: 0 2px;
}
 .left .content1 .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
 .content1 .social a span:hover{
  background: #f12020;
}
 .center .content1 .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
 .center .content1 .fas:hover{
  background: #f12020;
}
 .center .content1 .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
 .center .content1 .phone{
  margin: 15px 0;
}
.center .content1 .email1{
  margin: 15px 0;
}
 .rightbox form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
 .rightbox form .msg{
  margin-top: 10px;
}
 .rightbox form input, .rightbox form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #fcfafa;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #000;
}
 .rightbox form input:focus,
 .rightbox form .msgForm:focus{
  outline-color: #3498db;
}
 .rightbox form input{
  height: 35px;
}
 .rightbox form .btn1{
  margin-top: 10px;
}
 .rightbox form .btn1 button{
  height: 40px;
  width: 100%;
  margin-left: 0;
  border: none;
  outline: none;
  background: #39B54A;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  color: #fbfbfb;
}
 .rightbox form .btn1 button:hover{
  background: #30332E;
}
 .bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
 .bottom center span{
  color: #f0ecec;
}
 .bottom center a{
  color: #f12020;
  text-decoration: none;
}
 .bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  footer .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer .main-content .box{
    margin: 5px 0;
  }
}
