/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Montserrat;
  box-sizing: border-box;
}

html {
  height: 100%;
  /*Image only BG fallback*/

  /*background = gradient + image pattern combo*/
  background: linear-gradient(120deg, #39b54a, #c5efcb);
}

body {
  font-family: montserrat, arial, verdana;
  /* margin-top: 4.5%; */
}
/*form styles*/
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;

  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

img{
  width: 80%;
  height: auto;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
.label2 {
  padding: 15px;
  margin-bottom: 10px;
  /* width: 100%; */
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
  margin-top:-3mm;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: linear-gradient(120deg, #39b54a, #c5efcb);
  font-weight: bold;
  border: none;
  background-size: 200%;
  color: #0e0e0e;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  transition: 0.5s;
}
#msform .action-button:hover,
#msform .action-button:focus {
  background-position: center ;
}


/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}

.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 25px;
  width: 30px;
  margin-right: 17px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label {
  background: #39b54a;
  color: #ffffff;
}

.visitType-selector input {
  display: none !important;
}

.visitType-selector input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 100px;
  background: #dddddd;
  height: 30px;
  width: 130px;
  margin-right: 230px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 12px;
}

.visitType-selector input[type="checkbox"]:checked + label {
  background: #80D754;
  color: #ffffff;
}

hr {
  height: 20px;
  border-width: 0;
  background-color: #6BEA71;
}


/* ******************************
CHECKBOXES
****************************** */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 45%;
  height: 20px;
  width: 20px;
  background-color: #BCEAD2;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #39b54a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* ******************** */
/* RADIO BUTTONS */
/* ******************** */

.radio-toolbar input[type="radio"] {
  display: none;
  
}

.radio-toolbar label {
  display: inline-block;
  border-radius: 100px;
  background: #dddddd;
  height: 30px;
  width: 130px;
  margin-right: 230px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 12px;
  
  
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #39b54a;
  color: #ffffff;
}

#msform .button_color {
  width: 100px;
  background: linear-gradient(120deg, #FA7736, #c5efcb);
  font-weight: bold;
  border: none;
  background-size: 200%;
  color: #0e0e0e;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  transition: 0.5s;
}