*{
  font-weight: 700;
}

column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*
  CSS for the main interaction
  */
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
  width: 100%;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
  Styling
  */
body {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-weight: 300;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 300pxpx 0;
  border-top: 1px solid #ccc;
}

/*
  Demo purposes only
  */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.tabset {
  max-width: 65em;
}

/* WHITE CARD  */

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  margin-left: -4cm;
  margin-right: -6cm;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 2px;
  height: 17px;
}

/* CHECKBOXES */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 3mm;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #5fcf80;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  button {
    padding: 5px 5px 5px 5px;
    color: #fff;
    margin-left: 33%;
    background-color: #4bc970;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    border-radius: 40px;
    width: 15%;
    border: none;

  
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 0.1em;
}



/* ******************************* */
/* css for profile update form */
/* ******************************* */

.card2 {
  margin: 30px auto;
  width: 900px;
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1),
    5px 5px 20px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* 
body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
} */

form {
  max-width: 800px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 20px;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 10px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 7px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}



fieldset {
  margin-bottom: 10px;
  border: none;
}

legend {
  font-size: 16px;
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 6px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 15px;
  width: 15px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 650px;
  }
}

/* weekdays selector */

.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 25px;
  width: 30px;
  margin-right: 17px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label {
  background: #39b54a;
  color: #ffffff;
}

/* ******************** */
/* RADIO BUTTONS */
/* ******************** */

.radio-toolbar input[type="radio"] {
  display: none;
  
}

.radio-toolbar label {
  display: inline-block;
  border-radius: 100px;
  background: #dddddd;
  height: 30px;
  width: 130px;
  margin-right: 230px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 12px;
  
  
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #39b54a;
  color: #ffffff;
}

#msform .button_color {
  width: 100px;
  background: linear-gradient(120deg, #FA7736, #c5efcb);
  font-weight: bold;
  border: none;
  background-size: 200%;
  color: #0e0e0e;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  transition: 0.5s;
}

/* checkboxes  */


.visitType-selector input {
  display: none !important;
}

.visitType-selector input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 100px;
  background: #dddddd;
  height: 30px;
  width: 130px;
  margin-right: 230px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 12px;
}

.visitType-selector input[type="checkbox"]:checked + label {
  background: #80D754;
  color: #ffffff;
}


.label2 {
  padding: 15px;
  margin-bottom: 10px;
  /* width: 100%; */
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
  margin-top:-3mm;
}

  