*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.button-links{
    display: flex;
    justify-content: space-around;
    width: 20% center;
}

.button-links a{
<<<<<<< HEAD

=======
    color: #0e0e0e;
>>>>>>> 45f1f759a62f2700a143ffd359ae64ca675261ae
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    font-size: 2vh;
    transition: all 0.3s ease-out;
}

.button-links a:hover{
    color: #24722E;
    transition: all 0.3s ease-in;
}

.button-links li{
    list-style: none;
}

.button1{
    color: #0f0f0f;
    border: 2.5px solid #0e0e0e;
    border-radius: 1vh;
    padding: 1vh 2vh;
    transition: 0.3s ease-out;
    margin: -1vh -2vh;
}

.button1:hover{
    border: 2.5px solid #24722E;
<<<<<<< HEAD
    border-radius: 1vh;
    padding: 1vh 2vh;
    transition: 0.3s ease-out;

=======
>>>>>>> 45f1f759a62f2700a143ffd359ae64ca675261ae
}

.button2{
    color: #fbfbfb;
    background-color: #0e0e0e;
    border: 2.5px solid #0e0e0e;
    border-radius: 1vh;
    padding: 1vh 2vh; 
    transition: 0.3s ease-out;
    margin: -1vh -2vh;
}

.button2:hover{
    border: 2.5px solid #fbfbfb;
    background-color: #fbfbfb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2 a{
    color: #fbfbfb;
}

.button2 a:hover{
    color: #0e0e0e;
}

.customerSection{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/app/view/assets/img/index_image.jpg");
    background-size: cover;
}

.customerSection::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(120deg, #39B54Aaa, #C5EFCBaa);
}

.customerSection h1, .customerSection p{
    position: relative;
    color: #fbfbfb;
    text-shadow: #0e0e0e 0px 0 20px;
}

.freelancerSection{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.freelancerSection::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(120deg, #fbfbfb, #ffffff);
}

.freelancerSection h1, .freelancerSection p{
    position: relative;
    color: #0e0e0e;
}

.advertiserSection{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/ceylongig/app/view/assets/img/advertisement.jpeg");
}

.advertiserSection::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(120deg, #fbfbfbaa, #ffffffaa);
}

.advertiserSection h1, .advertiserSection p{
    position: relative;
    color: #0e0e0e;
}

/*Cards*/

.container {
    width: 100%;
    /*height: 100%;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container p{
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
}

.container .small {
    font-size: 14px;
}

  
.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(-120deg, #39B54A,#64c471);
    border-radius: 0 4px 0 32px;
}
  
.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}
  
.card1 {
    display: block;
    position: relative;
    max-width: 262px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    color: #39B54A;
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(-120deg, #39B54A, #64c471);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
  
.card1:hover:before {
    transform: scale(21);
}
  
.card1:hover p{
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}
.card1:hover h3 {
      transition: all 0.3s ease-out;
      color: #ffffff;
}

.card1 .off{
    display: block;
}

.card1:hover .off{
    transition: all 0.3s ease-out;
    display: none;
}

.card1 .on{
    display: none;
}


/*-------------*/




