*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background: #eeeeee;
}

.table{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.button1{
    background-color: #39B54A;
    border: 2.5px solid #39B54A;
    border-radius: 1vh;
    padding: 1vh 2vh;
    transition: 0.2s ease-out;
}

.button1:hover{
    border: 2.5px solid #fbfbfb;
    background-color: #fbfbfb;
    
}

.button1{
    color: #fbfbfb;
}

.button1:hover{
    color: #39B54A;
}

.button1:focus{
    outline: none;
}