.modalDialog {
    position: fixed;
    font-family: Montserrat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    pointer-events: none;
    color: #0e0e0e;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 60%;
    position: relative;
    margin: 3% auto;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    background: #eeeeee;
    /*background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
}
.close {
    color: #585858;
    line-height: 25px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
}
.close:hover {
    color: #292929;
}

.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: auto;
    height: 6vh;
  }
  
.rating > input {
opacity: 0;
display: none;
}

.rating > label {
position: relative;
display: block;
float: right;
background: url('../img/star-off.png');
background-size: 6vh 6vh;
}

.rating > label:before {
display: block;
opacity: 0;
content: '';
width: 6vh;
height: 6vh;
background: url('../img/star-on.png');
background-size: 6vh 6vh;
transition: opacity 0.2s linear;
}

.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }


textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    width:80%
}

textarea:focus {
    outline: none !important;
    border: 2px solid #39B54A;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
}

@media screen and (max-width:1024px){
    .modalDialog > div{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    .modalDialog > div{
        width: 80%;
    }

    .rating {
        height: 4vh;
      }
    
    .rating > label {
    background-size: 4vh 4vh;
    }
    
    .rating > label:before {
    width: 4vh;
    height: 4vh;
    background-size: 4vh 4vh;
    transition: opacity 0.2s linear;
    }
}