/*Defaults*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
body{
    background: url(../../img/background_green.jpg);
}



.subhead {
    text-transform: uppercase;
    color: rgb(53, 43, 43);
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    
}

/*Content*/
.content {
    margin-top: 10px;
    padding: 2em 1em 0;
   
}
.box{
    box-sizing: border-box;
    margin-left: 10%;
    padding: 0 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
    
}
.column-block {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(12, 109, 33, 0.5);
    
}
.column-block-header {
    background: rgb(25, 187, 47);
    color: #fff;
    text-align: center;
}

.column-block-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;
}
.column-block-info {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
.column-block-info span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}





table{
    position: relative;
    z-index: 2;
    margin-left: 15%;
    margin-top: 40%;
    margin-bottom: 5%;
    align-items: center;
    width: 70%;
    height: 100px; 
   border-collapse: collapse;
   border-spacing: 0;
   border-radius: 12px 12px 0 0;
   overflow: hidden;
   box-shadow: 0 2px 12px rgba(52,32,32,.3);
    background: white;
    text-align: center;
}


th,td{
    padding: 10px 15px;
}

th{
    background: #077431;
    color: white;
    text-transform: uppercase;
    width: 100%;
   margin-left: 50%;
   

}
.headline{
padding-left: 140px;
    
}
button {
	background-color: #14b84b;
	color: #fff;
	margin-bottom: 25%;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
    margin-left: 40%;
    width: 20%;
    
}
button:hover{
	background: #30332E;
}

