@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  list-style: none;

}

body{
   background:  linear-gradient(to right,#3be244,#1faa5d);
}

.wrapper{
  position: relative;
  margin-top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 850px;
  height: 620px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background:#0e0e0e;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
    margin-top: 35%;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 170px;
}

.wrapper .left h4{
  margin-top: 25px;  
  margin-bottom: 10px;
  font-size: 28px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 100%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info{
  margin-bottom: 25px;
}

.wrapper .right .info h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper .right .info_data .data{
  padding-top: 40px;
  width: 45%;
}

.wrapper .right .info_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p{
  font-size: 18px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul{
  display: flex;
  padding-left: 10%;

}



.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  margin-right: 10px;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
  margin-top: 5%;
  margin-left: 10%;
  
}

.wrapper .social_media ul li a{
  padding-top: 9px;
  color :#fff;
  display: block;
  font-size: 20px;

}



.button1 button{
    background-color:#3be244;
    display: block;
    margin-top: 40px;
    padding-bottom: 5px;
    margin-left: 80px;
    /*margin: 20px 20px 0px 20px;*/
    text-align: center;
    border-radius: 12px;
    border: 2px solid #2cb369;
    padding: 14px 110px;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.25x;
    text-decoration: none;
  
    
    

}

.button1 button:hover{
    background-color: #068158 ;
}
