
  body{
      margin:0;
      overflow: hidden;

  }
  #messages{
      height: 88vh;
      overflow: hidden;
      padding: 10px;
      background-image: url(../../img/back1.jpg);;
  }

  form{
     
      display: flex;
  }
  input,a{
      font-size: 1.2rem;
      padding: 10px;
      margin: 10px 5px;
      appearance: none;
      -webkit-appearance: none;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  a{
      text-decoration: none;
  }
  #message{
      flex: 2;
  }
  .msg{
      background-color: #dcf8c9;
      padding: 5px 10px;
      border-radius: 5px;
      margin-bottom: 8px;
      width: fit-content;

  }
  .msg p{
      margin: 0;
      font-weight: bold;
  }
  .msg span{
      font-size: 0.7rem;
      margin-left: 15px;
  }

