
table{
    position: relative;
    z-index: 2;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 20%;
    align-items: center;
    width: 70%;
    height: 100px; 
   border-collapse: collapse;
   border-spacing: 0;
   border-radius: 12px 12px 0 0;
   overflow: hidden;
   box-shadow: 0 2px 12px rgba(52,32,32,.3);
    background: white;
    text-align: center;
}


th,td{
    padding: 10px 15px;
}

th{
    background: #077431;
    color: white;
    text-transform: uppercase;
    width: 100%;
    align-items: center;
    text-align: center;

}
.headline{
    
    padding-bottom: 2%;
}
.headline h2{
    margin-left: 16%;
}
