@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	font-family: 'Montserrat';
}
body {
	
	background-image: url(../../img/business.jpeg) ;
	background-size: cover;
	
}


.container {
	margin-top: 10%;
	margin-bottom: 8%;
	margin-left: 35%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	border-radius: 15px 15px 0px 0px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 600px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: rgba(0,0,0,0.3);
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
	text-align: center;
}

.form {
	padding: 30px 20px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;

}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}



.form button {
	background-color: #44ad67;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.form button:hover{
	background: #30332E;
}
.links{
	background-color: #44ad67;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 15px;
	width: 100%;
}
.links:hover{
	background: #30332E;
}
.links a{
	color: #fff;
	margin-left: 45%;
	text-decoration: none;

}
.radio{
	
	position: relative;
	padding-left: 10%;
	top: 19px;
	left: 60px;
	font-size: 15px;
	color: #fffdfd;
	
}
.radio input{

	height: 20px;
    border-radius: 30%;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
}

