

        <div>
            <a href="#"><img src="../../assets/other/CeylonGig_Logo.svg" alt="CeylonGig Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="AdvertDashboard.php">Home</a></li>
            <li><a href="AdvertAbout.php">About</a></li>
            <li><a href="AdvertContact.php">Contact Us</a></li>
            <li><a href="AdvertLogin.php">Logout</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            </div>
 

    <script src="/app/view/assets/js/navbar.js"></script>
