*{
    margin: 0;
    padding: 0;

}
body{
   
    background-image: url(../img/admin_setting.jpg) ;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    height: 720px;
    
}
.regform{
    width: 700px;
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;

}

h3{
    margin-top: 2%;
    height:50px;
    widows: 700px;
    padding:15px;
    box-sizing: border-box;
    background: rgba(231, 62, 62, 0.6);
    color:white;
    font-size:15px;
    text-align: center;
    
    margin-bottom: 20px;
} 

.main{
    background-color: rgba(0,0,0,0.5);
    width: 700px;
    margin: auto;
    
}
form{
    padding: 10px;
}
.name,#gender{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;

}

.nameu{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.password{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.repassword{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.email{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}

.userid{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}

.address{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 420px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}

.radio{
    display: inline-block;
    padding-right: 70px;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 15px;
    color: #FFFFFF;
}
.radio input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

button{
    background-color: #022c14d3;
    display: block;
    margin-top: 20px;
    margin-left: 200px;
    /*margin: 20px 20px 0px 20px;*/
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding: 14px 110px;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.25x;
    text-decoration: none;
  
    
    

}

button:hover{
    background-color: #5390F5 ;
}


