*{
    margin: 0;
    padding: 0;
    
}

body{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: absolute;

}
.logo{
    width: 20%;
    float: left;
    line-height: 100px;
}

nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family:  bignoodletitling ;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;

}

.banner-area{
    width: 100%;
    height: 500px;
    position: relative;
    top: 100px;
    background-position: center center;

}

.container1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 25s ease-in-out infinite;
    background-size: cover;
}

.outer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}

.details{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.details h1{
    margin-top: 20%;
    font-size: 70px;
    color: rgb(238, 195, 195);

}
.details h2{
    font-size: 30px;
    margin-top: 15%;
    color:rgb(255, 254, 254);
    text-transform: capitalize;
    line-height: 2em;

}
@keyframes animate{
    0%,100%{
        background-image: url(../../img/picture.jpg);
    }
    25%{
        background-image: url(../../img/picture1.jpg);
    }
    50%{
        background-image: url(../../img/showcase.jpg);
    }
    75%{
        background-image: url(../../img/admin.jpg);
    }
}

.content-area{
    width: 100%;
    position: relative;
    top: 100px;
    height: 650px;
    background: rgb(250, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;

}

.container{
    width: 1000px;
    
    display: flex;
    justify-content: space-between;

}
.container .card{
    position: relative;
}
.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: rgb(245, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);

}
.container .card:hover .face.face1{
    background: #1cdb5c;
    transform: translateY(0);
}
.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
    text-align: center;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}


.container .card .face.face1 img{
    width: 90px;
    
}
.container .card:hover .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
}



.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8) ;
    transform: translateY(-100px);


}
.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;

}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color:#fff;
}


footer{
	padding: 10px;
	margin-top: 100px;
	color: #ffffff;
	background-color: #30c43c;
	text-align: center;
}