*{
    font-family: montserrat;
}
#container{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%);  
    width:auto;
    height:auto;
    padding-bottom: 2cm;
}
#topAd{
    height: 2cm;
    width: auto;
    background-color: cornsilk;
    margin-bottom: 2em;
}

#topcon{
    margin-left: auto;
    margin-right: auto;
    height: 6cm;
    width: 22cm;
    background-color: darkgray;
    border-radius: 20px;
}
.slideImg{
    display: none;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#contentImg {
    width:22cm;
    height:6cm;
    border-radius: 20px;
}

#content{
   
    height: 5cm;
    width: 19cm;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1cm;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#rightAd{
    width: 5cm;
    height: 8cm;
    background-color: cornsilk;
    float: right;
    margin-right:2em;
    margin-left:2em;
    margin-top: 4em;
    text-align: center;
    font-size: small;

}
#AdImg{
    width:5cm;
    height:7.5cm;
}

#leftAd{
    width: 5cm;
    height: 8cm;
    background-color: cornsilk;
    float: left;
    margin-left:2em;
    margin-right:2em;
    margin-top: 4em;
    text-align: center;
    font-size: small;
    

}

.blocks{
    background-color:cornsilk;
    color: rgb(107,142,35);
    padding-top: 1em;
    height:3cm;
    width:3cm;
    float:inline-start;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1cm;
    box-shadow:-10px 10px 10px rgb(148, 163, 133);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: 1s;
    
}

.blocks:hover{
    background-color:rgb(107,142,35);
    color:cornsilk ;
    transform:scale(1.2)
    
}
