body
{
    margin: 0;
    padding: 0;
    background-color: white;

}
button
{
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
}

button
{
    background: none;
    color: #0e0e0e;
    width: 240px;
    height: 80px;
    
    border: 2px solid #39b54a;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;

}

button:focus
{
    outline: none;

}

.button:before
{
    content: '';
    display: block;
    position: absolute;
    background: #fbfbfb;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    /*transform: translateX(-130px) skewX(-15deg);*/
    


}

button:after
{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    /*transform: translateX(-130px) skew(-15deg);*/

   
}
button:hover
{
    background: #c5efcb;
    cursor: pointer;

}
button:hover:before
{
   /* transform: translateX(300px) skewX(-15deg);*/
    opacity: .6s;
    transition: .7s;

}
button:hover:after
{
    /*transform: translateX(300px) skewX(-15deg);*/
    opacity: 1;
    transition: .7s;

}