*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    background-image: linear-gradient(120deg, rgb(57, 181, 74), rgb(197, 239, 203));
}

.reportform{
    width: 700px;
    background: #FBFBFB;
    height: 500px;
    padding: 60px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.reportform h2{
    text-align: center;
    margin-bottom: 30px;
}

.submitbutton{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #39B54A, #C5EFCB);
    background-size: 200%;
    color: #0e0e0e;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.submitbutton:hover{
    background-position: right;
}