*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background-image: linear-gradient(120deg, #39B54A, #C5EFCB);
}

.jobProgress, .rateFreelancer{
    display: inline-block;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}

.notifications{
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

.notifications .table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h3, h2{
    margin-left: 20px;
    color: #0e0e0e;
}

.notifications .dp{

}

.link{
    color: #2b8a38;
    transition: 0.2s ease-out;
}

.link:hover{
    color: #39B54A;
}

.button1{
    background-color: #39B54A;
    border: 2.5px solid #39B54A;
    border-radius: 1vh;
    padding: 1vh 2vh;
    transition: 0.2s ease-out;
}

.button1:hover{
    border: 2.5px solid #fbfbfb;
    background-color: #fbfbfb;
    
}

.button1{
    color: #fbfbfb;
}

.button1:hover{
    color: #39B54A;
}

.button1:focus{
    outline: none;
}