* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

/* body{
  background-color: #051505;
} */

.container {
  position: absolute;
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  height: 540px;
  width: 450px;
  cursor: pointer;
  box-shadow: -1rem 0 3rem #000;
  margin-left: 0px;
  position: relative;
  left: 0px;
  border-radius: 10px;
  transition: 0.4s ease-out;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 184, 21, 1),
    14.2%,
    rgba(0, 184, 165, 1) 89.5%
  );
}

.card:not(:first-child) {
  margin-left: -80px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  background-image: radial-gradient(
    circle 523px at 7.1% 19.3%,
    rgba(0, 135, 184, 1),
    rgba(0, 255, 81, 1) 100.7%
  );
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 50px;
  left: 20px;
  height: 3px;
  width: 400px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: #b4b538;
  transition: 0.4s ease-out;
}

.card:hover .filledbar {
  width: 400px;
  transition: 0.4s ease-out;
}

.profile-detail {
  width: 100%;
  position: absolute;
}

.profile-detail img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 68px;
  left: 50px;
  border-radius: 50%;
}

.profile-detail .name {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 80px;
  left: 180px;
  color: #fff;
}

.profile-detail .post-title {

  margin-top: -65%;
  margin-left: -12%;
  color: #fff;
  font-size: 11px;
  width:200px;
}

.profile-detail .post-description {
  position: absolute;
  top: 180px;
  left: 50px;
  color: #fff;
  font-size: 10px;
  padding-right: 60px;
}

.profile-detail .button {
  font-size: 10px;
  padding: 5px 0px;
  position: absolute;
  top: 530px;
  left: 150px;
  width: 135px;
  border: 1px solid #d3eb00;
  color: #040404;
  text-align: center;
  border-radius: 20px;
  background-color: #d3eb00;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
  box-shadow: 0 0 40px 40px #aabd00 inset;
}

/* 
User rating */

.fa {
  font-size: 2px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 3px;
}

.middle {
  margin-top: 3px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #dbdbdb;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  width: 60%;
  height: 8px;
  background-color: #4caf50;
}
.bar-4 {
  width: 30%;
  height: 8px;
  background-color: #2196f3;
}
.bar-3 {
  width: 10%;
  height: 8px;
  background-color: #00bcd4;
}
.bar-2 {
  width: 4%;
  height: 8px;
  background-color: #ff9800;
}
.bar-1 {
  width: 15%;
  height: 8px;
  background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

/* ******************************* */
/* css for profile update form */
/* ******************************* */

.card2 {
  margin: 30px auto;
  width: 900px;
  height: 600px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1),
    5px 5px 20px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* 
body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
} */

form {
  max-width: 800px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 20px;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 14px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 2px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 7px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 10px 10px 10px 10px;
  color: #fff;
  margin-left: 230px;
  background-color: #4bc970;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  border-radius: 40px;
  width: 30%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}

legend {
  font-size: 16px;
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 6px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 15px;
  width: 15px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 650px;
  }
}

/* weekdays selector */

.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 25px;
  width: 30px;
  margin-right: 17px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label {
  background: #39b54a;
  color: #ffffff;
}

.subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 0.1em;
}
