*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;
}

.table{
    display: table;
    margin: 0;
    /*width: 100%;*/
    border-radius: 10px;
    overflow: hidden;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.row{
    display: table-row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background: #fbfbfb;
}

.row:hover{
    background: #e9e9e9;
}

.row.header{
    color: #fff;
    background: #39B54A;
    font-weight: 500;
    font-size: 13px;
}

.row.header .cell{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
}

.cell{
    /*width: 25%;*/
    padding-top: 10px;
    padding-bottom: 10px;
    display: table-cell;
    border-top: 1px solid #89f197;
    padding-right: 40px;
    font-size: 13px;
}

.cell.title{
    font-weight: 500;
    font-size: 15px;
}

.cell.progress{
    width: 25%;
}

.dp{
    vertical-align: middle;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#progress {
    width: 100%;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
}
  
#bar {
    height: 10px;
    background-color: #39B54A;
    border-radius: 5px;
}