*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background-image: linear-gradient(120deg, #39B54A, #C5EFCB);
}

.header {
    padding: 0px 50px;
    background: rgba(251, 251, 251, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signupform{
    width: 700px;
    background: #FBFBFB;
    min-height: auto;
    padding: 60px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signupform h2{
    text-align: center;
    margin-bottom: 30px;
}

.table{
    width: 100%;
}
.table td{
    border: 5px solid transparent;
    padding: 0px;
}

.table td .radiobutton{
  padding-left: 20px;
}

.textbox{
    border-bottom: 1px solid #adadad;
    position: relative;
    margin: 5px 0;
}

.textbox input{
    font-size: 12px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 30px;
}

.textbox span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
    font-size: 12px;
}

.textbox span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg, #39B54A, #C5EFCB);
    left: 0;
    bottom: -1px;
    transition: .5s;
}

.focus + span::before{
    top: -5px;
    font-size: 10px;
}
.focus + span::after{
    width: 100%;
}

.signupbutton{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #39B54A, #C5EFCB);
    background-size: 200%;
    color: #0e0e0e;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.signupbutton:hover{
    background-position: right;
}

.bottomtext{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.bottomtext a{
    color: #24722E;
}

.bottomtext a:hover{
    color: #43CC58 ;
}


  .light {
    --primary:#43CC58;
    --other: #0e0e0e;;
  
    background: hsl(0, 0%, 98%);
  }
   
  
  /* label */
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    position: relative;
  }
  
  
  /* input */
  .radiobutton {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  
  /* .design */
  .design {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin-right: 16px;
    padding: 10px;
    position: relative;
  }
  
  .design::before,
  .design::after {
    content: "";
    
  
    width: inherit;
    height: inherit;
  
    border-radius: inherit;
  
    position: absolute;
    transform: scale(0);
    transform-origin: center center;
  }
  
  .design:before {
    background: var(--other);
    opacity: 0;
    transition: .3s;
  }
  
  .design::after {
    background: var(--primary);
    opacity: .4;
    transition: .6s;
  }
  
  
  /* .text */
  .text {
    color: var(--other);
    padding-left: 15px;
  }
  
  
  /* checked state */
  .radiobutton:checked+.design::before {
    opacity: 1;
    transform: scale(.6);
  }
  
  
  .radiobutton:hover+.design:before,
  .radiobutton:focus+.design:before {
    background: var(--primary);
    
  }
  
  .radiobutton:hover~.text {
    color: var(--primary);
  }
  
  .radiobutton:focus+.design::after,
  i.radiobutton:active+.design::after {
    opacity: .1;
    transform: scale(2.6);
  }


  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
    font-size: 11px;
  }