*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background-image: linear-gradient(120deg, #39B54A, #C5EFCB);
}

.jobProgress, .rateFreelancer, .jobReview, .upcomingOrders, .jobPending, .rejectedOrders{
    display: block;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}

.pastorders{
    display: block;
    justify-content: center;
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

.jobPending .table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.rejectedOrders .table{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.jobProgress .table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.upcomingOrders .table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.jobReview .table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.rateFreelancer .table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.pastorders .table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h3, h2{
    margin-left: 20px;
    color: #0e0e0e;
}

.align-right { 
    text-align:right;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.link{
    color: #2b8a38;
    transition: 0.2s ease-out;
}

.link:hover{
    color: #39B54A;
}

.linkred{
    color: #ff0000;
    transition: 0.2s ease-out;
}

.linkred:hover{
    color: #9c0c0c;
}

.button1{
    background-color: #39B54A;
    border: 2.5px solid #39B54A;
    border-radius: 1vh;
    padding: 1vh 2vh;
    transition: 0.2s ease-out;
}

.button1:hover{
    border: 2.5px solid #fbfbfb;
    background-color: #fbfbfb;
    
}

.button1{
    color: #fbfbfb;
}

.button1:hover{
    color: #39B54A;
}

.button1:focus{
    outline: none;
}

/* 
***********
**RATING******* */


/* * {
  margin: -4px;
  padding: 0;
} */
.rate {
    float: left;
    height: 46px;
  
    margin: -5px;
  
  }
  .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    
  }
  .rate:not(:checked) > label:before {
    content: "★ ";
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
  
  /* FOR CUSTOMER RATING */
  
  .customer-rating {
    float: left;
    height: 46px;
    margin: -17px;
    margin: -6px;
  
  }
  .customer-rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .customer-rating:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  .customer-rating:not(:checked) > label:before {
    content: "★ ";
  }
  .customer-rating > input:checked ~ label {
    color: #ffc700;
  }