*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    height: 100%;
    background-image: linear-gradient(120deg, rgb(57, 181, 74), rgb(197, 239, 203));
}

.orderform{
    margin-top: 30px;
    width: 700px;
    background: #FBFBFB;
    height: 680px;
    padding: 40px 40px;
    border-radius: 10px;
    position: absolute;
    z-index: -10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.orderform h2,h5{
    text-align: center;
    margin-bottom: 3px;
}

input{
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;

}

input:focus{
    outline: none !important;
    border: 2px solid #39b54a;
}

.submitbutton{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #39B54A, #C5EFCB);
    background-size: 200%;
    color: #0e0e0e;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.submitbutton:hover{
    background-position: right;
}