*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background: #eeeeee;
}

.table{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}