*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
    padding-bottom: 2cm;
    padding-top: 1cm;
    margin-bottom: 2cm;
}
#content{
    position: relative;
    width: 100%;
    height:15cm;
}
#pgeHeading{
    height: 2cm;
    width:25%;
    left: 37.5%;
    right: 37.5%;
    position: relative;
    color:rgb(21, 100, 5);
    padding-bottom: .5em;
    
}

#sendMailBlock{
    width:25%;
    left: 37.5%;
    right: 37.5%;
    height:6cm;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    border-radius: 25px;
    padding: 1cm;
    border-top: 15px solid rgb(182, 175, 175,0.5);
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
    text-align: center;
}

#sendBtn{
    height: 1.2cm;
    width: 4cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;

}

#sendBtn:hover{
    transform:scale(1.1);
    color: white;
    cursor: pointer;
}

.txtField{
    width:7cm;
    height: .7cm;
    background-color: rgba(255, 255, 255, .5);
    border: rgba(255, 255, 255, 0);
    color:#264601;
    padding-left: 1em;
    border-radius: 8px;
}