*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
    padding-bottom: 2cm;
    margin-bottom: 2cm;
    
}
#heading{
    height: 4cm;
    padding-top: 2cm;
    left: 5%;
    right: 25%;
    width:70%;
    position: relative;
    color:rgb(21, 100, 5);
    padding-bottom: .5em;
    
}
#Content{
    position: relative;
    width: 100%;
    height:16cm;

}

#detailsleft{
    width:30%;
    height:16cm;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 5%;
    right:65%;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1cm;
    border-top: 15px solid rgb(182, 175, 175,0.5);
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
}
#detailsright{
    width:30%;
    height:16cm;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 35%;
    right:35%;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 1cm;
    border-top: 15px solid rgb(182, 175, 175,0.5);
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
}

#adImg{
    position: absolute;
    left: 70%;
    right:5%;
    height:16cm;
    padding:2cm;
    text-align: center;
   
}
#adImgProp{
    height: 300px;
    width: 200px;
    background-color: rgba(255, 248, 220, 0.479);
    border: 2px solid rgb(255, 255, 255);
}


#extendBtn{
    height: 1.2cm;
    width: 4cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;

}

#extendBtn:hover{
    transform:scale(1.1);
    color: white;
    cursor: pointer;
}
