*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
}

#heading{
    margin-top: 3em;
    width: auto;
    height:1cm;
    color:rgb(64, 94, 23);
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.8) 0 -4px 30px;
    padding:1em;
   
}

#currentAdStat{
    width:auto;
    height:2cm;
    margin: 1em;
    text-align: center;
    padding-top: 1em;
}

#currentAdStatBtn{
    height: 1.2cm;
    width: 12cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;    
}

#currentAdStatBtn:hover{
    transform:scale(1.1);
    color: white;
    cursor: pointer;
}

#logTable{
    width:auto;
    height:auto;
    display: flex;
    justify-content: center;
    padding-top: 4cm;
    margin-bottom:5cm;
}
/*table info*/
.tg{
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
    justify-self: center;

}
    .tg td{
        border-color:black;
        border-style:solid;
        border-width:3px;
        font-size:14px;
        overflow:hidden;
        padding:10px 5px;word-break:normal;
    }
    .tg th{
        border-color:black;
        border-style:solid;
        border-width:3px;
        font-size:14px;
        font-weight:normal;
        overflow:hidden;
        padding:10px 5px;
        word-break:normal;
    }
    .tg .tg-frgj{
        background-color:#c0c0c04f;
        border-color:#ffffff;
        font-size:16px;
        font-weight:bold;
        text-align:center;
        vertical-align:top
    }
    .tg .tg-vvj7{
        background-color:#f8ff999f;
        border-color:#ffffff;
        text-align:center;
        vertical-align:top
    }

#downloadBtn{
    height: .9cm;
    width: 2.3cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border-radius: 15px;
    transition: 600ms;
    cursor: pointer;
    float: left;

}

#downloadBtn{
    height: 1.2cm;
    width: 4cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;
    right:5%;
    position: absolute;
    

}

#downloadBtn:hover{
    transform:scale(1.1);
    color: white;
    cursor: pointer;
    
}