*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
    padding-bottom: 2cm;
    margin-bottom: 2cm;
}
#content{
    position: relative;
    width:100%;
    height:16.5cm;
    
}
    

#heading{
    height: 4cm;
    padding-top: 2cm;
    left: 5%;
    right: 25%;
    width:70%;
    position: relative;
    color:rgb(21, 100, 5);
    
    
}

#detailsleft{
    
    width:40%;
    height:12cm;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 5%;
    right:55%;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1cm;
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
    border-top: 15px solid rgb(182, 175, 175,0.5);
}
#detailsright{
    
    width:30%;
    height:12cm;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 45%;
    right:25%;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 1cm;
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
    border-top: 15px solid rgb(182, 175, 175,0.5);
}

#profileimg{
    width: 200px;
    height: 200px;
    border:2px;
    border-radius: 100px;
    background-color: rgba(255, 235, 205, 0.397);
}

#editBtnCon{
    right: 25%;
    left: 5%;
    width: 70%;
    height: 2.5cm;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 1em;
}
#editBtn{
    height: 1.2cm;
    width: 4cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;

}

#editBtn:hover{
    transform:scale(1.1);
    color: white;
    cursor: pointer;
}