*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
    padding-bottom: 2cm;
    padding-top: 3cm;
}

#pgeHeading{
    height:2cm;
    position: relative;
    left:25%;
    right:25%;
    width: 50%;
    color:grey;
    padding: 1em;
    padding-left: 2em;
    background-color:  rgb(229,242,226,0.8);
    border-top: 15px solid rgb(182, 175, 175,0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

#formCont{
    
    background-color:  rgb(229,242,226,0.8);
    height:13.5cm;
    position: relative;
    left: 25%;
    right: 25%;
    width: 50%;
   

}

.block{
    height:12cm;
    width:4%0;
    padding: 1em;
    margin-top: 0.6cm;
    margin-bottom: 1cm;
    position: absolute;

}

#rightBlock{
    left:0%;
    right:50%;
    margin-left:1em;
    margin-right: 1em;
    
}
#leftBlock{
    left:50%;
    right:0%;
    margin-right: 1em;
    margin-left:1em;
    
    
}

#previewImg{
    height:300px;
    width:200px;
}

#submitBtn{
    height: 1cm;
    width: 3cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;
    
    
       
}
#submitBtn:hover{
    transform:scale(1.15);
    color: white;
    cursor: pointer;
    
}
#btnBlock{
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;
    width: 50%;
    left: 25%;
    right:25%;
    text-align: center;
    background-color:  rgb(229,242,226,0.8);
    height: 2cm;
    padding-bottom: 1em;
    
}

.field{
    width:6cm;
    height: .7cm;
    background-color: rgba(255, 255, 255, .5);
    border: rgba(255, 255, 255, 0);
    color:#264601;
    padding-left: 1em;
    border-radius: 8px;
}

#startdate{
    width: 3cm;
}