*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
    
}
#heading{
    margin-top: 3em;
    width: auto;
    height:1cm;
    color:rgb(64, 94, 23);
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.8) 0 -4px 30px;
    padding:1em;
   
}


#currentAdStat{
    width:auto;
    height:2cm;
    margin: 1em;
    text-align: center;
    padding-top: 1em;
}

#currentAdStatBtn{
    height: 1.2cm;
    width: 12cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 30px;
    font-size: large;
    transition: 600ms;    
}
#blockCont{
    margin-top: 1cm;
    margin-bottom: 1cm;
    width: auto;
    height:8cm;

    
}
.blocks{
    width: 20%;
    height:7cm;
    margin-top: 1cm;
    margin-bottom: 0.5cm;
    text-align: center;
    background-color: rgb(56, 94, 13,0.8);
    padding-top:1cm;
    font-size: x-large;
    color: white;
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
    box-shadow: 0px 50px 50px -30px #000000;
    border-radius: 30px;
    transition: 1s;
    position:absolute;
    
}
#block1{
    left:5%;
    right:75;
}
#block2{
    left:40%;
    right: 40%;
    
}
#block3{
    right:5%;
    left:75;
}
.blocks:hover{
    transform: scale(1.1);
    background-color: rgb(56, 94, 13);
}


#currentAdStatBtn:hover{
    transform:scale(1.1);
    color: white;
    cursor: pointer;
}

#logTable{
    width:auto;
    height:auto;
    display: flex;
    justify-content: center;
    margin-bottom: 4cm;

}
/*table info*/
.tg{
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
    justify-self: center;

}
    .tg td{
        border-color:black;
        border-style:solid;
        border-width:3px;
        font-size:14px;
        overflow:hidden;
        padding:10px 5px;word-break:normal;
    }
    .tg th{
        border-color:black;
        border-style:solid;
        border-width:3px;
        font-size:14px;
        font-weight:normal;
        overflow:hidden;
        padding:10px 5px;
        word-break:normal;
    }
    .tg .tg-frgj{
        background-color:#c0c0c04f;
        border-color:#ffffff;
        font-size:16px;
        font-weight:bold;
        text-align:center;
        vertical-align:top
    }
    .tg .tg-vvj7{
        background-color:#f8ff999f;
        border-color:#ffffff;
        text-align:center;
        vertical-align:top
    }

#downloadBtn{
    height: .9cm;
    width: 2.3cm;
    background: #529c03;
    color: rgb(211, 206, 206);
    border: 2px solid rgb(238, 238, 238);
    border-radius: 15px;
    transition: 600ms;
    cursor: pointer;

}