*{
    font-family: montserrat;
}
body{
    background: rgb(229,242,226);
    background: linear-gradient(0deg, rgba(229,242,226,1) 0%, rgba(160,235,145,1) 100%); 
}
#container{
    width:auto;
    height:auto;
    padding-bottom: 2cm;
    padding-top: 2cm;
    margin-bottom: 2cm;
}
#content{
    position: relative;
    width: 100%;
    height:17cm;
}
#pgeHeading{
    height: 2cm;
    left: 5%;
    width:30%;
    position: relative;
    color:rgb(21, 100, 5);
    padding-bottom: .5em;
    
}

.paymentBlocks{
    width:55%;
    left: 5%;
    right: 40%;
   
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    border-radius: 25px;
    padding: 1cm;
    border-top: 15px solid rgb(182, 175, 175,0.5);
    border-bottom: 15px solid rgb(182, 175, 175,0.5);
    
    
}
#paymentBlock1{
    height:13cm;

}




.txtField{
    width:7cm;
    height: .7cm;
    background-color: rgba(255, 255, 255, .5);
    border: rgba(255, 255, 255, 0);
    color:#264601;
    padding-left: 1em;
    border-radius: 8px;
}

