*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}


.wrapper{
    width: 1170px;
    margin: 0 auto;
}



.banner-area{
    width: 100%;
    height: 600px;
    position: relative;
    top: 0;
    background-position: center center;
    overflow: hidden;

}

.container1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 25s ease-in-out infinite;
    background-size: cover;
 
}

.outer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}

.details{
    position: absolute;
    left: 50%;
    top: 20%;
    padding-top: 6%;


    transform: translate(-50%, -50%);
    text-align: center;
}

.details h1{
    margin-top: 25%;
    font-size: 70px;
    color: rgb(238, 195, 195);

}


.details h1 .username{
    margin-top: 25%;
    font-size: 70px;
    color: rgb(249, 252, 250);

}


.details h2{
    font-size: 30px;
    margin-top: 15%;
    color:rgb(255, 254, 254);
    text-transform: capitalize;
    line-height: 2em;
  

}
@keyframes animate{
    0%,100%{
        background-image: url(../../img/picture.jpg);
    }
    25%{
        background-image: url(../../img/staff8.jpg);
    }
    50%{
        background-image: url(../../img/admin3.jpg);
    }
    75%{
        background-image: url(../../img/admin4.jpg);
    }
}

.content-area{
    width: 100%;
    height: 720px;
    position: relative;
    background: rgb(206, 238, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;

}

.container{
    width: 1000px;
    
    display: flex;
    justify-content: space-between;

}
.container .card{
    position: relative;
}
.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: rgb(245, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);


}
.container .card:hover .face.face1{
    background: #1cdb5c;
    transform: translateY(0);
}
.container .card .face.face1 .cont{
    opacity: 0.2;
    transition: 0.5s;
    text-align: center;
}

.container .card:hover .face.face1 .cont{
    opacity: 1;
}


.container .card .face.face1 img{
    width: 90px;
    
}
.container .card:hover .face.face1 .cont h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
}



.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8) ;
    transform: translateY(-100px);
 


}
.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .cont {
   text-align: center;

}

.container .card .face.face2 .cont p{
    margin: 0;
    padding: 0;
    color: black;

}

.container .card .face.face2 .cont a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .cont a:hover{
    background: #333;
    color:#fff;
}

